* {
    padding: 0;
    margin: 0;
}

.d_flex {
    display: flex;
    justify-content: space-between;
}

header {
    padding: 22px 0;
}

.div_header {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px 0 22px;
    box-sizing: border-box;
}

.div_header a {
    margin-left: 32px;
}

.div_header nav ul {
    list-style: none;
    display: flex
}

.div_header nav ul li a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-decoration: none;
    color: #1B1A1A;
}

.div_header nav ul li:last-of-type a {
    margin-right: 20px;
    padding: 11px 20px; background: #1B1A1A;
    border-radius: 14px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 0.4px;

}

/*-------------------the_home------------------------*/

.section_home {
    padding: 137px 0 128px;
    background: #ECE7E4;
    position: relative;
}

.div_home {
    max-width: 1240px;
    margin: auto;
}

.div_home h3 {
    margin-bottom: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
}

h1 {
    margin-bottom: 18px; font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;
    color: #1B1A1A;
}

.div_home p {
    max-width: 509px;
    margin-bottom: 41px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #403E3B;
}

.div_home a {
    text-decoration: none;
    margin-left: 25px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #1B1A1A;
}

.div_image {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-image: url('../img/IMAGE.jpg');
    background-size: cover;
}

/*-------------------our-process------------------------*/

.process {
    padding: 100px 0;
}

.div_process {
    max-width: 1168px;
    margin: auto;
}

.div_process h3 {
    text-align: center;
    margin-bottom: 13px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #645C55;
}

.div_process h2 {
    text-align: center;
    margin-bottom: 47px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 42px;
    color: #1B1A1A;
}

.div_article {
    padding: 0 42px;
}

.div_article article {
    max-width: 259px;
    text-align: center;
}

.div_article article:nth-child(2) {
    margin: 0 20px;
}

.div_article article h3 {
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #403E3B;
}

.div_article article p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #645C55;
}

/*--------------------get--------------------*/

.section_get {
    background: #CEC4BC;
    border-radius: 0px;
}

.container_get {
    max-width: 1168px;
    margin: auto;
}

.div_get {
    max-width: 569px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.div_get h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #645C55;
}

.div_get p {
    font-family: 'Poppins';
    margin-bottom: 13px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-decoration: none;
    color: #1B1A1A;
}

.a_get {
    margin: auto
}

.a_get a {
    text-decoration: none
}

.a_get a p {
    font-family: 'Poppins';
    margin-left: 474px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #1B1A1A;
}

/*----------------------client---------------------*/

.section_clients {
    padding: 100px 0;
    background: #403E3B;
}

.container_clients {
    max-width: 1168px;
    margin: auto;
}

.clients_content {
    max-width: 451px;
    margin-right: 181px;
    margin-top: 35px;
}

.clients_content h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ECE7E4;
}

.clients_content h2 {
    margin-bottom: 14px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
}

.clients_content p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #ECE7E4;
}

.block img{
    display: block;
}

.clients_logo1 a:first-of-type img {
    margin-top: 24px;
    margin-bottom: 128px;
}

.clients_logo2 a:first-of-type img {
    margin-bottom: 96px;
}

/*----------------------team-----------------------*/

.section_team {
    padding: 100px 0;
}

.container_team {
    max-width: 1168px;
    justify-content: left;
    margin: auto;
}

.text_team {
    max-width: 358px;
    margin-right: 37px;
}

.text_team h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #403E3B;
    margin-bottom: 14px;
}

.text_team p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #645C55;
    margin-bottom: 41px;
}

.text_team a {
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1B1A1A;
    margin-left: 25px;
}

.team1 {
    margin-right: 144px;
}

.team1 article {
    justify-content: left;
    margin: 8px 0 46px 0;

}

.team1 article p {
    margin-top: 20px;
    margin-left: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #645C55;
}

.team1 article p span{
    display: block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #1B1A1A;
}

.team2 article {
    justify-content: left;
    margin: 8px 0 46px 0;
}

.team2 article p {
    margin-top: 20px;
    margin-left: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #645C55;
}

.team2 article p span{
    display: block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #1B1A1A;
}

/*----------------------footer---------------------*/

.footer_container {
    max-width: 1168px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

.footer_container p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    color: #645C55;
}

.footer_container .d_flex p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    color: #645C55;
}

.footer_container ul {
    list-style: none;
    display: flex
}

.footer_container ul li:nth-child(2) a {
    margin-left: 20px;
}

.footer_container ul li:last-of-type a {
    margin-left: 26px;
    margin-right: 6px;
}

