* {
    padding: 0;
    margin: 0;
}

.d_flex {
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
}

header {
    padding: 22px 0;
}

.div_header {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px 0 22px;
    box-sizing: border-box;
}

.div_header a {
    margin-left: 32px;
}

.div_header nav ul {
    list-style: none;
    display: flex
}

.div_header nav ul li a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-decoration: none;
    color: #1B1A1A;
}

.div_header nav ul li:last-of-type a {
    margin-right: 20px;
    padding: 11px 20px; background: #1B1A1A;
    border-radius: 14px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 0.4px;

}

/*------------------------house----------------------*/

.section_house {
    min-height: 600px;
    background-image: url("../img/House (2).jpg");
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 75px;
}

.description {
    max-width: 285px;
}

.section_house .description h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #403E3B;
}

.section_house .description p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #645C55;
}

/*-------------------our-firm----------------------*/

.section_firm {
    padding: 100px 0 120px;
}

.container_firm {
    max-width: 768px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.container_firm h2 {
    min-width: 134px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #403E3B;
}

.container_firm .div_senior p {
    max-width: 493px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #403E3B;
    margin-bottom: 10px;
}

.container_firm .div_senior article {
    justify-content: start;
    margin-top: 18px;
}

.container_firm .div_senior article p {
    margin-top: 20px;
    margin-left: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #645C55;
}

.container_firm .div_senior article p span {
    display: block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #1B1A1A;
}

/*-------------------the_home------------------------*/

.section_home {
    padding: 137px 0 128px;
    background: #ECE7E4;
    position: relative;
}

.div_home {
    max-width: 1240px;
    margin: auto;
}

.div_home h3 {
    margin-bottom: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
}

h1 {
    margin-bottom: 18px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;
    color: #1B1A1A;
}

.div_home p {
    max-width: 509px;
    margin-bottom: 41px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #403E3B;
}

.div_home a {
    text-decoration: none;
    margin-left: 25px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #1B1A1A;
}

.div_image {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-image: url('../img/IMAGE.jpg');
    background-size: cover;
}

/*-------------------our-process------------------------*/

.process {
    padding: 100px 0;
}

.div_process {
    max-width: 1168px;
    margin: auto;
}

.div_process h3 {
    text-align: center;
    margin-bottom: 13px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #645C55;
}

.div_process h2 {
    text-align: center;
    margin-bottom: 47px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 42px;
    color: #1B1A1A;
}

.div_article {
    padding: 0 42px;
}

.div_article article {
    max-width: 259px;
    text-align: center;
}

.div_article article:nth-child(2) {
    margin: 0 20px;
}

.div_article article h3 {
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #403E3B;
}

.div_article article p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #645C55;
}

/*------------------staircase----------------------*/

.section_staircase {
    min-height: 600px;
    background-image: url("../img/Staircase.jpg");
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 75px;
}

.staircase {
    max-width: 285px;
}

.section_staircase .staircase h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #403E3B;
}

.section_staircase .staircase p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #645C55;
}

/*--------------------get--------------------*/

.section_get {
    background: #CEC4BC;
    border-radius: 0px;
    padding: 100px 0;
}

.container_get {
    max-width: 1168px;
    margin: auto;
    align-items: center;
}

.div_get {
    max-width: 569px;
}

.div_get h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #645C55;
}

.div_get p {
    font-family: 'Poppins';
    margin-bottom: 13px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-decoration: none;
    color: #1B1A1A;
}

.container_get a {
    text-decoration: none;
}

.container_get a p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #1B1A1A;
}

/*----------------------client---------------------*/

.section_clients {
    padding: 100px 0;
    background: #403E3B;
}

.container_clients {
    max-width: 1168px;
    margin: auto;
}

.clients_content {
    max-width: 451px;
    margin-right: 181px;
    margin-top: 35px;
}

.clients_content h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ECE7E4;
}

.clients_content h2 {
    margin-bottom: 14px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
}

.clients_content p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #ECE7E4;
}

.block img{
    display: block;
}

.clients_logo1 a:first-of-type img {
    margin-top: 24px;
    margin-bottom: 128px;
}

.clients_logo2 a:first-of-type img {
    margin-bottom: 96px;
}

/*------------------staircase----------------------*/

.section_staircase2 {
    min-height: 600px;
    background-image: url("../img/Staircase2.jpg");
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 75px;
}

.staircase2 {
    max-width: 266px;
}

.section_staircase2 .staircase2 h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #403E3B;
}

.section_staircase2 .staircase2 p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #645C55;
}

/*---------------------projects--------------------*/

.projects {
    padding: 113px 0 111px;
    background: #F7F7F7;
}

.div_projects {
    max-width: 1168px;
    margin: auto;
}

.projects .div_projects a {
    display: flex;
    justify-content: center;
    margin-top: 53px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #1B1A1A;
    text-decoration: none;
}

.projects h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 42px;
    color: #1B1A1A;
    margin-bottom: 15px;
}

.projects h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #645C55;
    margin-bottom: 44px;
}

.div_projects article {
    max-width: 375px;
    position: relative;
    overflow: hidden;
}

.div_projects article:hover .describe{
    bottom: 0;
}

.div_projects article img {
    width: 100%;
}

.projects .describe {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    bottom: -100%;
    transition: 0.5s;

}

.projects .describe h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    color: #403E3B;
    width: 100%;
}

.projects .describe h4 span {
    display: block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
}

.projects .describe a {
    background: #1B1A1A;
    border-radius: 14px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 11px 20px;
}

/*----------------------team-----------------------*/

.section_team {
    padding: 100px 0;
}

.container_team {
    max-width: 1168px;
    justify-content: left;
    margin: auto;
}

.text_team {
    max-width: 358px;
    margin-right: 37px;
}

.text_team h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #403E3B;
    margin-bottom: 14px;
}

.text_team p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #645C55;
    margin-bottom: 41px;
}

.text_team a {
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1B1A1A;
    margin-left: 25px;
}

.team_list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 418px;


}

.team_list article {
    justify-content: left;
    margin: 8px 144px 46px 0;
    position: relative;
    align-items: center;


}

.team_list article p {
    margin-left: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #645C55;
}

.team_list article p span{
    display: block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #1B1A1A;
}

/*----------------------footer---------------------*/

footer {
    padding: 60px 0;
}

.footer_container {
    max-width: 1168px;
    margin: auto;
    align-items: flex-end;
}

.footer_container p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    color: #645C55;
}

.footer_container .d_flex p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    color: #645C55;
}

.footer_container ul {
    list-style: none;
    display: flex
}

.footer_container ul li:nth-child(2) a {
    margin-left: 20px;
}

.footer_container ul li:last-of-type a {
    margin-left: 26px;
    margin-right: 6px;
}

.footer_container span {
    display: block;
}

